MONGODB_CONNECTION_URL=mongodb+srv://<username>:<password>@cluster0.ya8jl.mongodb.net/<db_name>?retryWrites=true&w=majority

# Auth token & Refresh token
AUTH_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Twilio sms 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_ASSIGNED_PHONENO=
TWILIO_COUNTRY_CODE=